name: Monitoramento Metro SP

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  scraper:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repositório
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar dependências
        run: |
          pip install playwright requests beautifulsoup4 lxml
          playwright install chromium

      - name: Executar monitoramento
        run: python monitor_metro_playwright.py
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}

      - name: Commit arquivos de estado
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          # força adicionar mesmo se houver .gitignore
          git add -f estado_metro.json historico_metro.csv

          git status

          git diff --cached --quiet && echo "Nenhuma alteração para commit" || git commit -m "Atualização automática do status do metrô"

          git push
